@CHARSET "UTF-8";

.footer {
	width: 100%;
	min-width:1000px;
	height: 240px;
	color: #fff;
	text-align: center;
	font-family: "Microsoft YaHei";
}

.footer a {
	color: #fff;
	margin-left: 20px;
	font-size: 14px;
	text-decoration: none;
		
}

.footer .footer_url {
	margin-top: 40px;
	height:20px;
	line-height:20px;
}

.footer .footer_msg {
	height: 40px;
	line-height: 40px;
}

.footer .footer_msg .img {
	width: 35px;
	height: 35px;
	position: relative;
	top: 3px;
}

.footer .footer_msg .tel {
	font-size: 24px;
}
.footer .footer_msg .addr {
	font-size: 14px; 
	margin : auto 10px;
	position: relative;
	top: -4px;
}
.footer .footer_copyright {
	font-size:14px;
	height:30px;
	line-height:30px;
}
.footer .footer_btn {
	width:100%;
	height:30px;
	line-height:30px;
	margin-top:10px;
}
.footer .footer_btn a{
	display: inline-block;
	padding:0;
	margin:0;
}
.footer .footer_btn .service_on-line{
	
	margin-left:20px;
	
}
.footer .footer_btn button{
	background:#292523;
	color:#fff;
	border:1px solid #ffffff;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	font-size:16px;
	padding:6px 12px;
}

.footer .footer_btn button:hover{
	cursor:pointer;
}

.footer .footer_btn button:focus{
    outline: 0;
}















