@CHARSET "UTF-8";
.homeDressScene_top_photo{
	width:100%;
	height:445px;
	max-height:445px;
	overflow:hidden;
}
.homeDressScene_top_photo img{
	width:100%;
	max-width:100%;
	height:100%;
	max-height:445px;
}
.homeDressScene_top_photo_form{
	width:360px;
	height:273px;
	background:#fff;
	position:absolute;
	right:85px;
	top:150px;
	z-index:999999;
}
.homeDressScene_top_photo_form h1{
	width:100%;
	margin:0 auto;
	text-align:center;
	height:80px;
	line-height:80px;
	font-size:18px;
	color:#4bc6ba;
	font-weight:900;
}
.homeDressScene_top_photo_form form{
	width:100%;
	text-align:center;
}
.homeDressScene_top_photo_form input{
	float:left;
	border:none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius:3px;
	-webkit-border-radius: 3px;
}
.homeDressScene_top_photo_form .text{
	width:76%;
	margin:0 8%;
	height:50px;
	line-height:50px;
	background:#f2f2f2;
	margin-bottom:10px;
	font-size:16px;
	color:#5a5a5a;
	padding:0 4%;
	
}
.homeDressScene_top_photo_form .submit{
	width:30%;
	margin:0 33%;
	height:30px;
	line-height:30px;
	background:#4bc6ba;
	margin-top:20px;
	font-size:16px;
	color:#fff;
	padding:0 2%;
	
}
.homeDressScene_top_photo_form .submit:hover{
	cursor:pointer;	
}
.homeDressScene_body{
	width:90%;
	min-height:1200px;
	margin:0 auto;
	margin-top:30px;
}
.homeDressScene_body_title{
	width:100%;
	height:100px;
	text-align:center;
	margin:0 auto;
	folot:left;
}
.homeDressScene_body_title .homeDressScene_body_title_top{
	width:100%;
	height:80px;
	text-align:center;
}
.homeDressScene_body_title .homeDressScene_body_title_top .title{
	float:left;
	height:80px;
}
.homeDressScene_body_title .homeDressScene_body_title_text{
	margin:0 1%;
	width:27%;
	min-width:180px;
	height:80px;
	line-height:80px;
}
.homeDressScene_body_title .homeDressScene_body_title_text h1{
	font-size:48px;
}
.homeDressScene_body_title .homeDressScene_body_title_left_line{
	margin-left:22%;
	width:13%;
}
.homeDressScene_body_title .homeDressScene_body_title_right_line{
	margin-right:22%;
	width:13%;
	height:80px;
	line-height:80px;
}
.homeDressScene_body_title p{
	margin-top:39px;
	border:1px solid #d5caca;
} 
.homeDressScene_body_title .homeDressScene_body_title_bottom{
	width:100%;
	height:20px;
	line-height:20px;
}
.homeDressScene_body_title .homeDressScene_body_title_bottom span{
	font-size:16px;
	color:#808080
}
.homeDressScene_body_list{
	width:100%;
	margin-top:30px;
	min-height:1000px;	
}
.homeDressScene_body_list_top{
	width:100%;
	height:200px;
}
.homeDressScene_body_list_top_left{
	width:330px;
	height:200px;
	line-height:200px;
	overflow:hidden;
	float:left;
}
.homeDressScene_body_list_top_left .img{
	width:200px;
	height:200px;
	float:left;
}
.homeDressScene_body_list_top_left .info{
	width:120px;
	margin-left:10px;
	margin-top:70px;
	height:25px;
	line-height:25px;
	float:left;
	font-size:16px;
}
.homeDressScene_body_list_top_left .info span{
	font-weight:600;
	font-size:18px;
}

.homeDressScene_body_list_top_left .state {
	position:relative;
	top:-146px;
	left:-45px;
	z-index:9999;
	font-size:10px;
	transform:scale(0.8);
}
@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none) {
	.homeDressScene_body_list_top_left .state {
		top:-155px;
		left:-53px;
		transform:scale(1);
	}
}
.homeDressScene_body_list_top_right{
	float:left;
	margin-top:60px;
	margin-left:30px;
}
.homeDressScene_body_list_top_right li.img{
	float:left;
	width:80px;
	height:80px;
	line-height:80px;
	background:url("../../images/user/homeDressScene_body_list_top_right_bg_normal.png") center no-repeat;
	text-align:center;
	color:#5a5a5a;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
}
.homeDressScene_body_list_top_right li.pressed{
	background:url("../../images/user/homeDressScene_body_list_top_right_bg_pressed.png") center no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	color:#fff;
}
.homeDressScene_body_list_top_right li.line{
	float:left;
	width:25px;
	border:1px dashed #4bc6ba;
	height:0px;
	margin-top:39px;
}
.homeDressScene_body_list_bottom{
	width:90%;
	margin-left:10%;
	height:30px;
}
.homeDressScene_body_list_bottom .left{
	width:44%;
	border:1px solid #d5caca;
	height:0px;
	float:left;
	margin-top:14px;
}
.homeDressScene_body_list_bottom .center{
	width:12%;
	height:30px;
	line-height:30px;
	float:left;
}
.homeDressScene_body_list_bottom .center a{
	background:#f2f2f2;
	color:#808080;
	text-align:center;
	width:100%;
	height:100%;
	display:block;
	font-size:16px;
}
.homeDressScene_body_list_bottom .center a:hover{
	background:#4bc6ba;
}
.homeDressScene_body_list_bottom .right{
	width:43%;
	border:1px solid #d5caca;
	float:left;
	height:0px;
	margin-top:14px;
}

.homeDressSceneDetail_body{
	width:100%;
	min-height:1200px;
}
.homeDressSceneDetail_body .homeDressSceneDetail_body_top_photo{
	width:100%;
	overflow:hidden;
}
.homeDressSceneDetail_body .homeDressSceneDetail_body_top_photo img{
	width:100%;
	height:100%;
}
.homeDressSceneDetail_body .homeDressSceneDetail_body_top_photo ul{
	width:80%;
	padding:0 10%;
	height:115px;
	line-height:115px;
	position:relative;
	top:-230px;
	top:-234px\9;
}
.homeDressSceneDetail_body .homeDressSceneDetail_body_top_photo ul li.userInfo{
	width:255px;
	margin-right:20px;
	margin-left:20px;
	float:left;
	font-size:20px;
	font-weight:bold;
}
.homeDressSceneDetail_body .homeDressSceneDetail_body_top_photo ul li.img{
	float:left;
	width:80px;
	margin-top:17px;
	height:80px;
	line-height:80px;
	background:url("../../images/user/homeDressScene_body_list_top_right_bg_normal.png") center no-repeat;
	text-align:center;
	color:#5a5a5a;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	font-size:16px;
}
.homeDressSceneDetail_body .homeDressSceneDetail_body_top_photo ul li.line{
	float:left;
	width:15px;
	border:1px dashed #4bc6ba;
	height:0px;
	margin-top:57px;
}
.homeDressSceneDetail_body .homeDressSceneDetail_body_top_photo ul li.pressed{
	width:80px;
	background:url("../../images/user/homeDressScene_body_list_top_right_bg_pressed.png") center no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	color:#fff;
}
.homeDressSceneDetail_body .homeDressSceneDetail_body_top_photo .ul_bg{
	width:100%;
	height:115px;
	background:#f2f2f2;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
	position:relative;
	top:-115px;
	top:-118px\9;
}
.homeDressSceneDetail_body_content{
	width:100%;
	margin-top:-230px;
}
.homeDressSceneDetail_body_content .list{
	width:100%;
	min-height:300px;
}
.homeDressSceneDetail_body_content .list .list_left{
	width:5%;
	float:left;
	text-align:center;
}
.homeDressSceneDetail_body_content .list .list_left img{
	margin:5px 0 0 2px;
}
.homeDressSceneDetail_body_content .list .list_right{
	width:94%;
	float:right;
}
.homeDressSceneDetail_body_content .list .list_right .list_right_title{
	height:50px;
	line-height:50px;
	text-align:left;
	font-size:28px;
	color:#5a5a5a;
}
.homeDressSceneDetail_body_content .list .list_right .list_right_info{
	height:25px;
	line-height:25px;
	text-align:left;
	font-size:16px;
	color:#5a5a5a;
}
.homeDressSceneDetail_body_content .list .list_right .list_right_img{
	width:100%;
}
.homeDressSceneDetail_body_content .list .list_right .list_right_img li{
	width:200px;
	height:200px;
	margin:15px 10px;
	float:left;
}
.homeDressSceneDetail_body_content .list .list_right .list_right_img li img{
	width:100%;
	height:100%;
}

