@CHARSET "UTF-8";
#login{
	width:100%;
	height:100%;
}
#login .login_bg{
	width:100%;
	height:100%;
	position:fixed;
	z-index:-1;
}
#login .login_bg img{
	width:100%;
	height:100%;
}
#login .login{
	width:100%;
	height:100%;
	position:absolute;
	z-index:-1;
}
.login .login_form {
	margin:0 auto;
	margin-top:100px;
	width:1060px;
	min-width:1060px;
	height:550px;
	-webkit-border-radius:10px; 
	-moz-border-radius:10px; 
	-ms-border-radius:10px;
	border-radius:10px;
	background:#fff;
}
.login .login_form .left{
	width:360px;
	height:550px;
	float:left;
}	
.login .login_form .left img{
	width:200px;
	height:200px;
	margin:185px 80px;	
}
.login .login_form .right{
	width:700px;
	height:550px;
	float:right;
}	
.login .login_form .right .logo{
	width:100%;
	height:50px;
	margin-top:60px;
	text-align:left;
}
.login .login_form .right .logo img{
	width:114px;
	height:50px;
}
.login .login_form .right .choose{
	width:100%;
	height:50px;
	margin-top:6px;
	text-align:left;
}
.login .login_form .right .choose ul{
	width:100%;
	height:50px;
	line-height:50px;
}
.login .login_form .right .choose li{
	width:130px;
	height:50px;
	line-height:50px;
	float:left;
}
.login .login_form .right .choose li a{
	color:#808080;
	font-size:24px;
}
.login .login_form .right .choose li.selected a{
	color:#4bc6ba;
}
.login .login_form .right .choose li a:hover{
	color:#4bc6ba;
	cursor:pointer;
}
.login .login_form .right div.line{
	width:100%;
	height:0px;
	text-align:left;
}
.login .login_form .right div.line p.line{
	width:45px;
	height:0px;
	border:2px solid #4bc6ba;
	margin-top:-5px;
}
.login .login_form .right div.line p.pressed{
	margin-left:130px;
}
.login .login_form .right dl.text{
	width:100%;
	height:35px;
	margin-top:18px;
	line-height:35px;
	font-size:18px;
	color:#808080;
}
.login .login_form .right dl.text dd.password{
	float:left;
	
}
.login .login_form .right dl.text dd.forgot{
	float:right;
	margin-right:10.5%;
	font-size:14px;
	height:35px;
	line-height:45px;
}
.login .login_form .right dl.text dd.forgot{
	cursor:pointer;	
}
.login .login_form .right dl.input{
	width:100%;
	height:63px;
	line-height:63px;
}
.login .login_form .right dl.input dd input{
	width:85%;
	height:63px;
	line-height:63px;
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	-ms-border-radius:5px;
	border-radius:5px;
	border:2px solid #e2e2e2;
	font-size:20px;
	padding:0 2%;
}
.login .login_form .right dl.submit dd input{
	width:200px;
	height:63px;
	line-height:63px;
	-webkit-border-radius:5px; 
	-moz-border-radius:5px; 
	-ms-border-radius:5px;
	border-radius:5px;
	border:none;
	font-size:20px;
	padding:0 2%;
	color:#fff;
	background:#333;
}
.login .login_form .right dl.submit dd input:hover{
	cursor:pointer;
}
.login .login_form .right dl.submit dd {
	float:left;	
	width:200px;
	height:63px;
	line-height:63px;
	margin-top:30px;
	margin-right:30px;
	font-size:18px;
	color:#808080;
}
.login .login_form .right dl.submit dd a{
	font-size:18px;
	color:#4bc6ba;
}
.login .login_form .right dl.submit dd a:hover{
	cursor:pointer;
}
.login .login_footer{
	width:1060px;
	height:70px;
	margin:0 auto;
	margin-top:170px;
}
.login .login_footer .top{
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	font-size:16px;
}
.login .login_footer .top ul{
	width:500px;
	margin:0 auto;
}
.login .login_footer .top li{
	float:left;
	width:25%;
	margin:0 4%;
	font-size:18px;
	
}
.login .login_footer .top li a{
	color:#fff;
}
.login .login_footer .bottom{
	height:30px;
	line-height:30px;
	color:#fff;
	text-align:center;
	font-size:18px;
}














