@CHARSET "UTF-8";
#renovation{
	width:100%;
	margin:0 auto;
	min-width:1300px;
	max-height:2680px;
	overflow:hidden;
}
#renovation .renovation_photo{
	width:100%;
	max-height:806px;
}
#renovation .renovation_photo img{
	width:100%;
	max-height:806px;
}
#renovation .renovation_photo_bottom{
	width:100%;
	height:80px;
	text-align:center;
}
#renovation .renovation_photo_bottom_font {
	width:100%;
  	height:70px;
  	position:relative;
	top:-80px;
	font-size:14px;
  	color: #fff;
  	z-index:999;
  	margin-top:10px;
}
#renovation .renovation_photo_bottom_bg{
  	width:100%;
  	height:80px;
  	background:#535353;
  	filter:alpha(Opacity=50);
  	-moz-opacity:0.5;
  	opacity: 0.5;
  	position:relative;
	top:-160px;
  	z-index:998;
}
#renovation .renovation_1{
	width:100%;
	height:392px;
	
}
#renovation .renovation_1 .renovation_1_content{
	width:70%;
	height:392px;
	margin:0 auto;
}
#renovation .renovation_1 .renovation_1_content_left{
	width:55%;
	margin-top:160px;
	float:left;
}
#renovation .renovation_1 .renovation_1_content_left .top{
	width:95%;
	margin-left:5%;
	font-size:32px;
	color:#5a5a5a;
}
#renovation .renovation_1 .renovation_1_content_left .bottom{
	width:95%;
	margin-top:8px;
	margin-left:7%;
	font-size:20px;
	color:#808080;
}
#renovation .renovation_1 .renovation_1_content_right{
	width:44%;
	height:100%;
	float:right;
}

#renovation .renovation_1 .renovation_1_content_right img{
	max-height:392px;
}
#renovation .renovation_2{
	width:100%;
	padding-top:60px;
	background:#fafafa;
}
#renovation .renovation_2 .renovation_2_top{
	width:65%;
	min-width:1025px;
	height:450px;
	margin:0 auto;
}
#renovation .renovation_2 .renovation_2_top_text{
	width:100%;
	height:180px;
	text-align:center;
}
#renovation .renovation_2 .renovation_2_top_text .title{
	font-size:28px;
	color:#5a5a5a;
	margin-bottom:20px;
}
#renovation .renovation_2 .renovation_2_top_text .center{
	font-size:18px;
	color:#5a5a5a;
}
#renovation .renovation_2 .renovation_2_top_text .bottom{
	font-size:18px;
	color:#5a5a5a;
	margin-top:15px;
}

#renovation .renovation_2 .renovation_2_top_photo{
	width:100%;
	height:210px;
	text-align:center;
	margin-top:40px;
}
#renovation .renovation_2 .renovation_2_top_photo li{
	width:15%;
	height:210px;
	margin:0 9%;
	float:left;
}
#renovation .renovation_2 .renovation_2_top_photo li img{
	width:120px;
	height:120px;	
}
#renovation .renovation_2 .renovation_2_top_photo li span{
	width:100%;
	height:30px;
	line-height:30px;
	margin-top:20px;
	float:left;
}
#renovation .renovation_2 .renovation_2_bottom{
	width:100%;
	height:887px;
	min-width:1300px;
	overflow:hidden;
}
#renovation .renovation_2 .renovation_2_bottom_left{
	width:100%;
	float:left;
}
#renovation .renovation_2 .renovation_2_bottom_left img{
	height:100%;
	width:100%;
}
#renovation .renovation_2 .renovation_2_bottom_right{
	width:23%;
	float:right;
	position:relative;
	top:-857px;
	right:16%;
}
#renovation .renovation_2 .renovation_2_bottom_right .title{
	font-size:38px;
	color:#5a5a5a;
	text-align:left;
	margin-top:250px;
}
#renovation .renovation_2 .renovation_2_bottom_right .content{
	font-size:20px;
	color:#808080;
	text-align:left;
	margin-top:30px;
} 





















