@CHARSET "UTF-8";
#body{
	background:#f7f7f7;
	width:100%;
}
#supplierInfo{
	width:1127px;
	height:720px;
	background:#e2e2e2;
	margin-top:20px;
}
.supplierInfo_left{
	width:228px;
	height:718px;
	margin:1px;
	background:#fafafa;
	float:left;
}
.supplierInfo_left_div{
	margin:20px 20px 20px 20px;
	width:188px;
	height:200px;
}
.supplierInfo_left_div h1{
	width:100%;
	height:50px;
	line-height:50px;
	font-size:24px;
	color:#5a5a5a;
}
.supplierInfo_left_div h1:hover{
		cursor:pointer;
}
.supplierInfo_left_div .line{
	border-top:1px solid #e2e2e2; 
}
.supplierInfo_left_div .material{
	width:100%;
	height:50px;
	line-height:50px;
	font-size:20px;
}
.supplierInfo_left_div .material a{
	color:#4bc6ba;
	cursor:pointer; 
}
.supplierInfo_left_div .material a:hover{
	color:#4bc6ba;
}
.supplierInfo_left_div .account{
	width:100%;
	height:50px;
	line-height:50px;
	font-size:20px;
}
.supplierInfo_left_div .account a{
	color:#5a5a5a;
	cursor:pointer; 
}
.supplierInfo_left_div .account a:hover{
	color:#4bc6ba;
	cursor:pointer; 
}
.supplierInfo_left_div .myHomePage{
	width:100%;
	height:60px;
	line-height:60px;
	text-align:center;
}
.supplierInfo_left_div .myHomePage a{
	padding:8px 40px;
	background:#4bc6ba;
	color:#fff;
}
.supplierInfo_left_div .myHomePage a:hover{
	cursor:pointer;
}
.supplierInfo_right{
	width:896px;
	margin:1px 1px 1px 0;
	height:718px;
	background:#fff;
	float:right;
}
.supplierInfo_right form{
	width:75%;
	margin:30px auto 0 auto;
	height:470px;
}
.supplierInfo_right form dl{
	width:100%;
	height:50px;
	line-ehgith:50px;
	margin-top:10px;
}
.supplierInfo_right form dl.style{
	width:100%;
	height:135px;
	line-ehgith:50px;
}
.supplierInfo_right form dl.synopsis{
	width:100%;
	height:100px;
	line-ehgith:90px;
}
.supplierInfo_right form dl dd.text{
	width:15%;
	text-align:right;
	float:left;
	height:40px;
	line-height:40px;
	color:#808080;
}
.supplierInfo_right form dl dd.li_text{
	line-height:50px;
}
.supplierInfo_right form dl dd.input{
	width:84.8%;
	text-align:left;
	float:right;
}
.supplierInfo_right form dl dd.input input{
	width:45%;
	height:40px;
	line-height:40px;
/* 	border-radius:10px; */
	border:1px solid #e2e2e2;
	background:#fff;
	color:#cdcccc;
	padding:0 1%;
}
.supplierInfo_right form dl dd.input li{
	width:80px;
	float:left;
	height:40px;
	line-height:40px;
	margin-right:10px;
	text-align:center;
	margin-bottom:10px;
	color:#808080;
	background:url("../../images/user/userInfo_right_form_li_bg_nomal.jpg") center no-repeat;
}
.supplierInfo_right form dl dd.input li.pressed{
	background:url("../../images/user/userInfo_right_form_li_bg_pressed.jpg") center no-repeat;
}
.supplierInfo_right form dl dd.input li:hover{
	cursor:pointer;
}
.supplierInfo_right form dl dd.input textarea{
	width:89%;
	height:60px;
	/* border-radius:10px; */
	max-width: 89%;
	max-height: 60px;
	resize:none;
	border:1px solid #e2e2e2;
	padding:2%;
	color:#cdcccc;
	word-wrap:break-word;
	word-break:break-all;
	overflow-y:hidden;
}
.supplierInfo_right form dl dd .submit{
	width:180px;
	height:50px;
	line-height:50px;
	background:#4bc6ba;
	color:#fff;
	border:none;
	font-size:20px;
}
.supplierInfo_right form dl dd .submit:hover{
	cursor:pointer;
}
.material{
	width:90%;
	margin:0 auto;
}
.material .tip{
	width:100%;
	height:120px;
	margin-top:20px;
}
.material .tip .line{
	border-top:1px solid #e2e2e2; 
	margin:10px 0px;
}
.material .tip b{
	width:100%;
	height:20px;
	line-height:20px;
	font-size:18px;
}
.material .tip p.text{
	width:100%;
	height:25px;
	line-height:25px;
	font-size:16px;
}
.material .center{
	width:100%;
	min-height:280px;
	margin-top:20px;
}
.material .center b{
	width:100%;
	height:40px;
	line-height:40px;
	font-size:18px;
}
.material .center .upBtn{
	position:relative;
	right:-600px;
	width:100px;
	padding:5px 10px;
	background:#999;
	font-size:16px;
	color:#fff;
	top:-5px;
}
.material .center ul{
	width:100%;
	height:30px;
	line-height:30px;
	background:#f4f5f9;
}
.material .center ul li{
	float:left;
	width:100px;
	text-align:center;
}
.material .center ul li.pressed{
	background:#a5a5a5;
}
.material .center .pic{
	width:100%;
	height:200px;
}
.material .center .pic_null{
	width:100%;
	height:200px;
	line-height:200px;
	text-align:center;
	color:#808080;
}
.material .bottom{
	width:100%;
}
.material .bottom dl{
	width:100%;
}
.material .bottom dl dd.text{
	width:100%;
	height:40px;
	line-height:40px;
}
.material .bottom dl dd.textarea{
	width:100%;
	height:80px;
	line-height:80px;
}
.material .bottom dl dd.textarea textarea{
	width:97%;
	height:80px;
	/* border-radius:10px; */
	max-width: 97%;
	max-height: 80px;
	resize:none;
	border:1px solid #e2e2e2;
	padding:1%;
	color:#999;
	word-wrap:break-word;
	word-break:break-all;
	overflow-y:hidden;
}
.material .bottom dl dd .submit{
	width:150px;
	height:40px;
	line-height:40px;
	background:#4bc6ba;
	color:#fff;
	border:none;
	font-size:20px;
	margin-top:20px;
}
.material .bottom dl dd .submit:hover{
	cursor:pointer;
}





















