<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.dao.AcmedecorationpicDao">
  <resultMap id="BaseResultMap" type="com.tiger.pojo.Acmedecorationpic">
    <id column="acmedecorationpic_id" jdbcType="INTEGER" property="acmedecorationpicId" />
    <result column="acmedecorationpic_name" jdbcType="VARCHAR" property="acmedecorationpicName" />
    <result column="acmedecorationpic_pic" jdbcType="VARCHAR" property="acmedecorationpicPic" />
    <result column="acmedecorationpic_info" jdbcType="VARCHAR" property="acmedecorationpicInfo" />
    <result column="acmedecorationpic_rid" jdbcType="INTEGER" property="acmedecorationpicRid" />
  </resultMap>
  <sql id="Base_Column_List">
    acmedecorationpic_id, acmedecorationpic_name, acmedecorationpic_pic, acmedecorationpic_info, 
    acmedecorationpic_rid
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from acmedecorationpic_t
    where acmedecorationpic_id = #{acmedecorationpicId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from acmedecorationpic_t
    where acmedecorationpic_id = #{acmedecorationpicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiger.pojo.Acmedecorationpic">
    insert into acmedecorationpic_t (acmedecorationpic_id, acmedecorationpic_name, 
      acmedecorationpic_pic, acmedecorationpic_info, 
      acmedecorationpic_rid)
    values (#{acmedecorationpicId,jdbcType=INTEGER}, #{acmedecorationpicName,jdbcType=VARCHAR}, 
      #{acmedecorationpicPic,jdbcType=VARCHAR}, #{acmedecorationpicInfo,jdbcType=VARCHAR}, 
      #{acmedecorationpicRid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tiger.pojo.Acmedecorationpic">
    insert into acmedecorationpic_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="acmedecorationpicId != null">
        acmedecorationpic_id,
      </if>
      <if test="acmedecorationpicName != null">
        acmedecorationpic_name,
      </if>
      <if test="acmedecorationpicPic != null">
        acmedecorationpic_pic,
      </if>
      <if test="acmedecorationpicInfo != null">
        acmedecorationpic_info,
      </if>
      <if test="acmedecorationpicRid != null">
        acmedecorationpic_rid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="acmedecorationpicId != null">
        #{acmedecorationpicId,jdbcType=INTEGER},
      </if>
      <if test="acmedecorationpicName != null">
        #{acmedecorationpicName,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationpicPic != null">
        #{acmedecorationpicPic,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationpicInfo != null">
        #{acmedecorationpicInfo,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationpicRid != null">
        #{acmedecorationpicRid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiger.pojo.Acmedecorationpic">
    update acmedecorationpic_t
    <set>
      <if test="acmedecorationpicName != null">
        acmedecorationpic_name = #{acmedecorationpicName,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationpicPic != null">
        acmedecorationpic_pic = #{acmedecorationpicPic,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationpicInfo != null">
        acmedecorationpic_info = #{acmedecorationpicInfo,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationpicRid != null">
        acmedecorationpic_rid = #{acmedecorationpicRid,jdbcType=INTEGER},
      </if>
    </set>
    where acmedecorationpic_id = #{acmedecorationpicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiger.pojo.Acmedecorationpic">
    update acmedecorationpic_t
    set acmedecorationpic_name = #{acmedecorationpicName,jdbcType=VARCHAR},
      acmedecorationpic_pic = #{acmedecorationpicPic,jdbcType=VARCHAR},
      acmedecorationpic_info = #{acmedecorationpicInfo,jdbcType=VARCHAR},
      acmedecorationpic_rid = #{acmedecorationpicRid,jdbcType=INTEGER}
    where acmedecorationpic_id = #{acmedecorationpicId,jdbcType=INTEGER}
  </update>
</mapper>