<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.dao.AcmedecorationDao">
  <resultMap id="BaseResultMap" type="com.tiger.pojo.Acmedecoration">
    <id column="acmedecoration_id" jdbcType="INTEGER" property="acmedecorationId" />
    <result column="acmedecoration_name" jdbcType="VARCHAR" property="acmedecorationName" />
    <result column="acmedecoration_maxpic" jdbcType="VARCHAR" property="acmedecorationMaxpic" />
    <result column="acmedecoration_pic" jdbcType="VARCHAR" property="acmedecorationPic" />
    <result column="acmedecoration_minpic" jdbcType="VARCHAR" property="acmedecorationMinpic" />
    <result column="acmedecoration_info" jdbcType="VARCHAR" property="acmedecorationInfo" />
    <result column="acmedecoration_pageview" jdbcType="VARCHAR" property="acmedecorationPageview" />
    <result column="acmedecoration_time" jdbcType="TIMESTAMP" property="acmedecorationTime" />
	    <collection property="acmedecorationpic" ofType="com.tiger.pojo.Acmedecorationpic">  
	        <id column="acmedecorationpic_id" jdbcType="INTEGER" property="acmedecorationpicId" />
		    <result column="acmedecorationpic_name" jdbcType="VARCHAR" property="acmedecorationpicName" />
		    <result column="acmedecorationpic_pic" jdbcType="VARCHAR" property="acmedecorationpicPic" />
		    <result column="acmedecorationpic_info" jdbcType="VARCHAR" property="acmedecorationpicInfo" />
		    <result column="acmedecorationpic_rid" jdbcType="INTEGER" property="acmedecorationpicRid" />
	    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    acmedecoration_id, acmedecoration_name, acmedecoration_maxpic, acmedecoration_pic, 
    acmedecoration_minpic, acmedecoration_info, acmedecoration_pageview, acmedecoration_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from acmedecoration_t
    where acmedecoration_id = #{acmedecorationId,jdbcType=INTEGER}
  </select>
  <select id="selectAllAcmedecoration" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from acmedecoration_t
  </select>
   <select id="selectAcmedecorationDetailById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />,
    acmedecorationpic_name,
    acmedecorationpic_pic,
    acmedecorationpic_info
    
    from acmedecoration_t,acmedecorationpic_t
    where 
    acmedecoration_id = #{acmedecorationId,jdbcType=INTEGER}
    and	acmedecorationpic_rid = acmedecoration_id 
    	
    	
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from acmedecoration_t
    where acmedecoration_id = #{acmedecorationId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiger.pojo.Acmedecoration" useGeneratedKeys="true">
  	<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="acmedecorationId">  
          SELECT LAST_INSERT_ID() AS acmedecorationId    
    </selectKey>
    insert into acmedecoration_t (acmedecoration_id, acmedecoration_name, 
      acmedecoration_maxpic, acmedecoration_pic, 
      acmedecoration_minpic, acmedecoration_info, 
      acmedecoration_pageview, acmedecoration_time
      )
    values (#{acmedecorationId,jdbcType=INTEGER}, #{acmedecorationName,jdbcType=VARCHAR}, 
      #{acmedecorationMaxpic,jdbcType=VARCHAR}, #{acmedecorationPic,jdbcType=VARCHAR}, 
      #{acmedecorationMinpic,jdbcType=VARCHAR}, #{acmedecorationInfo,jdbcType=VARCHAR}, 
      #{acmedecorationPageview,jdbcType=VARCHAR}, #{acmedecorationTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tiger.pojo.Acmedecoration">
    insert into acmedecoration_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="acmedecorationId != null">
        acmedecoration_id,
      </if>
      <if test="acmedecorationName != null">
        acmedecoration_name,
      </if>
      <if test="acmedecorationMaxpic != null">
        acmedecoration_maxpic,
      </if>
      <if test="acmedecorationPic != null">
        acmedecoration_pic,
      </if>
      <if test="acmedecorationMinpic != null">
        acmedecoration_minpic,
      </if>
      <if test="acmedecorationInfo != null">
        acmedecoration_info,
      </if>
      <if test="acmedecorationPageview != null">
        acmedecoration_pageview,
      </if>
      <if test="acmedecorationTime != null">
        acmedecoration_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="acmedecorationId != null">
        #{acmedecorationId,jdbcType=INTEGER},
      </if>
      <if test="acmedecorationName != null">
        #{acmedecorationName,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationMaxpic != null">
        #{acmedecorationMaxpic,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationPic != null">
        #{acmedecorationPic,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationMinpic != null">
        #{acmedecorationMinpic,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationInfo != null">
        #{acmedecorationInfo,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationPageview != null">
        #{acmedecorationPageview,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationTime != null">
        #{acmedecorationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiger.pojo.Acmedecoration">
    update acmedecoration_t
    <set>
      <if test="acmedecorationName != null">
        acmedecoration_name = #{acmedecorationName,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationMaxpic != null">
        acmedecoration_maxpic = #{acmedecorationMaxpic,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationPic != null">
        acmedecoration_pic = #{acmedecorationPic,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationMinpic != null">
        acmedecoration_minpic = #{acmedecorationMinpic,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationInfo != null">
        acmedecoration_info = #{acmedecorationInfo,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationPageview != null">
        acmedecoration_pageview = #{acmedecorationPageview,jdbcType=VARCHAR},
      </if>
      <if test="acmedecorationTime != null">
        acmedecoration_time = #{acmedecorationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where acmedecoration_id = #{acmedecorationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiger.pojo.Acmedecoration">
    update acmedecoration_t
    set acmedecoration_name = #{acmedecorationName,jdbcType=VARCHAR},
      acmedecoration_maxpic = #{acmedecorationMaxpic,jdbcType=VARCHAR},
      acmedecoration_pic = #{acmedecorationPic,jdbcType=VARCHAR},
      acmedecoration_minpic = #{acmedecorationMinpic,jdbcType=VARCHAR},
      acmedecoration_info = #{acmedecorationInfo,jdbcType=VARCHAR},
      acmedecoration_pageview = #{acmedecorationPageview,jdbcType=VARCHAR},
      acmedecoration_time = #{acmedecorationTime,jdbcType=TIMESTAMP}
    where acmedecoration_id = #{acmedecorationId,jdbcType=INTEGER}
  </update>
</mapper>