<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.dao.BuildingDao">
  <resultMap id="BaseResultMap" type="com.tiger.pojo.Building">
    <id column="building_id" jdbcType="INTEGER" property="buildingId" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
    <result column="building_pic" jdbcType="VARCHAR" property="buildingPic" />
    <result column="building_totaluser" jdbcType="INTEGER" property="buildingTotaluser" />
    <result column="building_usered" jdbcType="INTEGER" property="buildingUsered" />
  </resultMap>
  <sql id="Base_Column_List">
    building_id, building_name, building_pic, building_totaluser, building_usered
  </sql>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from building_t
    where building_id = #{buildingId,jdbcType=INTEGER}
  </select>
  <select id="selectAllBuilding" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from building_t
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from building_t
    where building_id = #{buildingId,jdbcType=INTEGER}
  </delete>
  
  <insert id="insert" parameterType="com.tiger.pojo.Building">
    insert into building_t (building_id, building_name, building_pic, 
      building_totaluser, building_usered)
    values (#{buildingId,jdbcType=INTEGER}, #{buildingName,jdbcType=VARCHAR}, #{buildingPic,jdbcType=VARCHAR}, 
      #{buildingTotaluser,jdbcType=INTEGER}, #{buildingUsered,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.tiger.pojo.Building">
    insert into building_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="buildingId != null">
        building_id,
      </if>
      <if test="buildingName != null">
        building_name,
      </if>
      <if test="buildingPic != null">
        building_pic,
      </if>
      <if test="buildingTotaluser != null">
        building_totaluser,
      </if>
      <if test="buildingUsered != null">
        building_usered,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="buildingId != null">
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="buildingName != null">
        #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="buildingPic != null">
        #{buildingPic,jdbcType=VARCHAR},
      </if>
      <if test="buildingTotaluser != null">
        #{buildingTotaluser,jdbcType=INTEGER},
      </if>
      <if test="buildingUsered != null">
        #{buildingUsered,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  
  <update id="updateByPrimaryKeySelective" parameterType="com.tiger.pojo.Building">
    update building_t
    <set>
      <if test="buildingName != null">
        building_name = #{buildingName,jdbcType=VARCHAR},
      </if>
      <if test="buildingPic != null">
        building_pic = #{buildingPic,jdbcType=VARCHAR},
      </if>
      <if test="buildingTotaluser != null">
        building_totaluser = #{buildingTotaluser,jdbcType=INTEGER},
      </if>
      <if test="buildingUsered != null">
        building_usered = #{buildingUsered,jdbcType=INTEGER},
      </if>
    </set>
    where building_id = #{buildingId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiger.pojo.Building">
    update building_t
    set building_name = #{buildingName,jdbcType=VARCHAR},
      building_pic = #{buildingPic,jdbcType=VARCHAR},
      building_totaluser = #{buildingTotaluser,jdbcType=INTEGER},
      building_usered = #{buildingUsered,jdbcType=INTEGER}
    where building_id = #{buildingId,jdbcType=INTEGER}
  </update>
  <update id="updateBuildingTotaluserById" parameterType="com.tiger.pojo.Building">
    update building_t
    set  building_totaluser = building_totaluser + 1 
    where building_id = #{buildingId,jdbcType=INTEGER}
  </update>
  
</mapper>