<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.dao.CasepictureDao">
  <resultMap id="BaseResultMap" type="com.tiger.pojo.Casepicture">
    <id column="casepicture_id" jdbcType="INTEGER" property="casepictureId" />
    <result column="casepicture_picture" jdbcType="VARCHAR" property="casepicturePicture" />
    <result column="classiccase_id" jdbcType="INTEGER" property="classiccaseId" />
    <result column="casepicture_info" jdbcType="VARCHAR" property="casepictureInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    casepicture_id, casepicture_picture, classiccase_id, casepicture_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from casepicture_t
    where casepicture_id = #{casepictureId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from casepicture_t
    where casepicture_id = #{casepictureId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteClassiccaseByClassiccaseId" parameterType="java.lang.Integer">
    delete from casepicture_t
    where classiccase_id = #{classiccaseId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiger.pojo.Casepicture">
    insert into casepicture_t (casepicture_id, casepicture_picture, 
      classiccase_id, casepicture_info)
    values (#{casepictureId,jdbcType=INTEGER}, #{casepicturePicture,jdbcType=VARCHAR}, 
      #{classiccaseId,jdbcType=INTEGER}, #{casepictureInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tiger.pojo.Casepicture">
    insert into casepicture_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="casepictureId != null">
        casepicture_id,
      </if>
      <if test="casepicturePicture != null">
        casepicture_picture,
      </if>
      <if test="classiccaseId != null">
        classiccase_id,
      </if>
      <if test="casepictureInfo != null">
        casepicture_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="casepictureId != null">
        #{casepictureId,jdbcType=INTEGER},
      </if>
      <if test="casepicturePicture != null">
        #{casepicturePicture,jdbcType=VARCHAR},
      </if>
      <if test="classiccaseId != null">
        #{classiccaseId,jdbcType=INTEGER},
      </if>
      <if test="casepictureInfo != null">
        #{casepictureInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiger.pojo.Casepicture">
    update casepicture_t
    <set>
      <if test="casepicturePicture != null">
        casepicture_picture = #{casepicturePicture,jdbcType=VARCHAR},
      </if>
      <if test="classiccaseId != null">
        classiccase_id = #{classiccaseId,jdbcType=INTEGER},
      </if>
      <if test="casepictureInfo != null">
        casepicture_info = #{casepictureInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where casepicture_id = #{casepictureId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiger.pojo.Casepicture">
    update casepicture_t
    set casepicture_picture = #{casepicturePicture,jdbcType=VARCHAR},
      classiccase_id = #{classiccaseId,jdbcType=INTEGER},
      casepicture_info = #{casepictureInfo,jdbcType=VARCHAR}
    where casepicture_id = #{casepictureId,jdbcType=INTEGER}
  </update>
</mapper>