<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.dao.DesignDao">
  <resultMap id="BaseResultMap" type="com.tiger.pojo.Design">
    <id column="design_id" jdbcType="INTEGER" property="designId" />
    <result column="design_name" jdbcType="VARCHAR" property="designName" />
    <result column="design_mainpic" jdbcType="VARCHAR" property="designMainpic" />
    <result column="design_pic" jdbcType="VARCHAR" property="designPic" />
    <result column="design_info" jdbcType="VARCHAR" property="designInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    design_id, design_name, design_mainpic, design_pic, design_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from design_t
    where design_id = #{designId,jdbcType=INTEGER}
  </select>
  <select id="selectAllDesign" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from design_t
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from design_t
    where design_id = #{designId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiger.pojo.Design">
    insert into design_t (design_id, design_name, design_mainpic, 
      design_pic, design_info)
    values (#{designId,jdbcType=INTEGER}, #{designName,jdbcType=VARCHAR}, #{designMainpic,jdbcType=VARCHAR}, 
      #{designPic,jdbcType=VARCHAR}, #{designInfo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tiger.pojo.Design">
    insert into design_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="designId != null">
        design_id,
      </if>
      <if test="designName != null">
        design_name,
      </if>
      <if test="designMainpic != null">
        design_mainpic,
      </if>
      <if test="designPic != null">
        design_pic,
      </if>
      <if test="designInfo != null">
        design_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="designId != null">
        #{designId,jdbcType=INTEGER},
      </if>
      <if test="designName != null">
        #{designName,jdbcType=VARCHAR},
      </if>
      <if test="designMainpic != null">
        #{designMainpic,jdbcType=VARCHAR},
      </if>
      <if test="designPic != null">
        #{designPic,jdbcType=VARCHAR},
      </if>
      <if test="designInfo != null">
        #{designInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiger.pojo.Design">
    update design_t
    <set>
      <if test="designName != null">
        design_name = #{designName,jdbcType=VARCHAR},
      </if>
      <if test="designMainpic != null">
        design_mainpic = #{designMainpic,jdbcType=VARCHAR},
      </if>
      <if test="designPic != null">
        design_pic = #{designPic,jdbcType=VARCHAR},
      </if>
      <if test="designInfo != null">
        design_info = #{designInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where design_id = #{designId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiger.pojo.Design">
    update design_t
    set design_name = #{designName,jdbcType=VARCHAR},
      design_mainpic = #{designMainpic,jdbcType=VARCHAR},
      design_pic = #{designPic,jdbcType=VARCHAR},
      design_info = #{designInfo,jdbcType=VARCHAR}
    where design_id = #{designId,jdbcType=INTEGER}
  </update>
</mapper>