<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiger.dao.QuoedpriceDao">
  <resultMap id="BaseResultMap" type="com.tiger.pojo.Quoedprice">
    <id column="quotedprice_id" jdbcType="INTEGER" property="quotedpriceId" />
    <result column="quotedprice_address" jdbcType="VARCHAR" property="quotedpriceAddress" />
    <result column="quotedprice_houseAcreage" jdbcType="INTEGER" property="quotedpriceHouseacreage" />
    <result column="quotedprice_username" jdbcType="VARCHAR" property="quotedpriceUsername" />
    <result column="quotedprice_tel" jdbcType="VARCHAR" property="quotedpriceTel" />
    <result column="quotedprice_bedroom" jdbcType="VARCHAR" property="quotedpriceBedroom" />
    <result column="quotedprice_parlour" jdbcType="VARCHAR" property="quotedpriceParlour" />
    <result column="quotedprice_kitchen" jdbcType="VARCHAR" property="quotedpriceKitchen" />
    <result column="quotedprice_toilet" jdbcType="VARCHAR" property="quotedpriceToilet" />
  </resultMap>
  <sql id="Base_Column_List">
    quotedprice_id, quotedprice_address, quotedprice_houseAcreage, quotedprice_username, 
    quotedprice_tel, quotedprice_bedroom, quotedprice_parlour, quotedprice_kitchen, quotedprice_toilet
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quoedprice_t
    where quotedprice_id = #{quotedpriceId,jdbcType=INTEGER}
  </select>
  <select id="selectAllQuoedprice"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from quoedprice_t
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from quoedprice_t
    where quotedprice_id = #{quotedpriceId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tiger.pojo.Quoedprice">
    insert into quoedprice_t (quotedprice_id, quotedprice_address, 
      quotedprice_houseAcreage, quotedprice_username, 
      quotedprice_tel, quotedprice_bedroom, quotedprice_parlour, 
      quotedprice_kitchen, quotedprice_toilet)
    values (#{quotedpriceId,jdbcType=INTEGER}, #{quotedpriceAddress,jdbcType=VARCHAR}, 
      #{quotedpriceHouseacreage,jdbcType=INTEGER}, #{quotedpriceUsername,jdbcType=VARCHAR}, 
      #{quotedpriceTel,jdbcType=VARCHAR}, #{quotedpriceBedroom,jdbcType=VARCHAR}, #{quotedpriceParlour,jdbcType=VARCHAR}, 
      #{quotedpriceKitchen,jdbcType=VARCHAR}, #{quotedpriceToilet,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tiger.pojo.Quoedprice">
    insert into quoedprice_t
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="quotedpriceId != null">
        quotedprice_id,
      </if>
      <if test="quotedpriceAddress != null">
        quotedprice_address,
      </if>
      <if test="quotedpriceHouseacreage != null">
        quotedprice_houseAcreage,
      </if>
      <if test="quotedpriceUsername != null">
        quotedprice_username,
      </if>
      <if test="quotedpriceTel != null">
        quotedprice_tel,
      </if>
      <if test="quotedpriceBedroom != null">
        quotedprice_bedroom,
      </if>
      <if test="quotedpriceParlour != null">
        quotedprice_parlour,
      </if>
      <if test="quotedpriceKitchen != null">
        quotedprice_kitchen,
      </if>
      <if test="quotedpriceToilet != null">
        quotedprice_toilet,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="quotedpriceId != null">
        #{quotedpriceId,jdbcType=INTEGER},
      </if>
      <if test="quotedpriceAddress != null">
        #{quotedpriceAddress,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceHouseacreage != null">
        #{quotedpriceHouseacreage,jdbcType=INTEGER},
      </if>
      <if test="quotedpriceUsername != null">
        #{quotedpriceUsername,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceTel != null">
        #{quotedpriceTel,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceBedroom != null">
        #{quotedpriceBedroom,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceParlour != null">
        #{quotedpriceParlour,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceKitchen != null">
        #{quotedpriceKitchen,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceToilet != null">
        #{quotedpriceToilet,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tiger.pojo.Quoedprice">
    update quoedprice_t
    <set>
      <if test="quotedpriceAddress != null">
        quotedprice_address = #{quotedpriceAddress,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceHouseacreage != null">
        quotedprice_houseAcreage = #{quotedpriceHouseacreage,jdbcType=INTEGER},
      </if>
      <if test="quotedpriceUsername != null">
        quotedprice_username = #{quotedpriceUsername,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceTel != null">
        quotedprice_tel = #{quotedpriceTel,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceBedroom != null">
        quotedprice_bedroom = #{quotedpriceBedroom,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceParlour != null">
        quotedprice_parlour = #{quotedpriceParlour,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceKitchen != null">
        quotedprice_kitchen = #{quotedpriceKitchen,jdbcType=VARCHAR},
      </if>
      <if test="quotedpriceToilet != null">
        quotedprice_toilet = #{quotedpriceToilet,jdbcType=VARCHAR},
      </if>
    </set>
    where quotedprice_id = #{quotedpriceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tiger.pojo.Quoedprice">
    update quoedprice_t
    set quotedprice_address = #{quotedpriceAddress,jdbcType=VARCHAR},
      quotedprice_houseAcreage = #{quotedpriceHouseacreage,jdbcType=INTEGER},
      quotedprice_username = #{quotedpriceUsername,jdbcType=VARCHAR},
      quotedprice_tel = #{quotedpriceTel,jdbcType=VARCHAR},
      quotedprice_bedroom = #{quotedpriceBedroom,jdbcType=VARCHAR},
      quotedprice_parlour = #{quotedpriceParlour,jdbcType=VARCHAR},
      quotedprice_kitchen = #{quotedpriceKitchen,jdbcType=VARCHAR},
      quotedprice_toilet = #{quotedpriceToilet,jdbcType=VARCHAR}
    where quotedprice_id = #{quotedpriceId,jdbcType=INTEGER}
  </update>
</mapper>