@CHARSET "UTF-8";
body {
	scrollbar-base-color: #40658c;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-shadow-color: #6190c1;
	padding: 0px;
	margin: auto;
	text-align: center;
	background-color:#eff4f5;
}
table.left {
	width:99%;
	height:100%;
	border:0;
}
table.left td {
	padding-left:6px;
	padding-top:8px;
	line-height: 1.5; 
}
dl.bitem {
	width: 148px;
	margin: 0px 0px 5px 4px;
}
dl.bitem dt {
	background: url(../images/menubg_up.png) no-repeat;
	height: 49px;
	line-height: 53px;
	text-align: center;
	cursor: pointer;
	border: #b8d0d6 1px solid;
}
dl.bitem dt b {
	color:#0d4b8d;
}
dl.bitem dd {
	padding: 3px 3px 3px 3px;
	background-color: #fff;
}
ul {
	padding-top: 3px;
}
li {
	height: 22px;
}
.sitemu li {
	padding: 0px 0px 0px 22px;
	line-height: 24px;
	background: url(../images/circle.png) no-repeat 10px 9px;
}
.sitemu li:hover {
	background: url(../images/triangle.png) no-repeat 10px 7px;
	background-color:#eaeaea;
}
.sitemu li.selected{
	font-weight:bold;
	background: url(../images/triangle.png) no-repeat 10px 7px;
	background-color:#eaeaea;
}
.sitemu li a {
	color:#000000;
	text-decoration:none;
	font-size:9pt;
}
.sitemu li a:hover {
	color:red;
}
