@CHARSET "UTF-8";
#top {
	width:100%;
	height:100%;
	background:blue;
}
#top .top_left{
	width:20%;
	height:100%;
	line-height:440%;
	float:left;
}
#top .top_right{
	width:60%;
	height:100%;
	float:right;
}